<div class="cuisine">
  <h2>Type of Cuisines</h2>
  <%= search_form_for @q do |f| %>
  <%= f.text_field :name_cont, :placeholder => 'Type Cuisine', :class => 'bar' %>
  <%= f.submit "Search", :class => 'bar_button' %>
  <% end %>
  <% @cuisines.each do |c| %>
  <ol>
    <li class="list"><%= link_to c.name, cuisine_path(c.id)%></li>
  </ol>
  <% end %>
</div>
