<h1>Restaurants on Rails</h1>

<% if @current_user.present? %>
<h2 id="welcome">Welcome <%= @current_user.name %></h2>
<% end %>

<%= flash[:error] %>

<div class="para">
<h3>Search Sydney City's Specialities</h3>
<p><em>Restaurants on Rails</em> helps you find the answer to the most difficult question: <span class="tag">Where and What should I eat?</span></p>

<div class="homediv">
  <img id="homeimg" src="/assets/goodfood.jpg" width="300px" height="300px">
</div>


<p><em>Restaurants on Rails</em> presents you with a variety of Cuisine options available in Sydney to choose from while making it easy for you to select the Restaurant you want to dine in.</p>

<p>Any one can use our service to find their favourite food place. Just search for the <a href="/cuisines">Cuisine</a> you are craving for or search your convenient <a href="#">Location</a> and we present you with a list of <a href="/restaurants">Restaurants</a> that offers that particular Cuisine and the preferred Location.</p>
</div>

<div class="member">
  <h4>Membership Types</h4>

  <h5>Standard</h5>
      <p>Standard Users can create an account with us for absolutely <strong>FREE</strong> and they get the facility to comment and <span class="black">Review</span> the Restaurants on our Page that will help them as well as other people make better dine in choices.</p>

      <p>GOOD FOOD LEADS TO GOOD MOOD</p>

  <h5>Platinum</h5>
      <p>Platinum Users can create an account with us for a mere amount of $20 and they get all the facilities of a <em>Standard</em> Member as well as are entitled to a BOOM BOOM 20% <span class="black">Discount</span> on all the <em>Restaurants</em> listed on our page.</p>

      <p>ENJOY GOOD FOOD AT A POCKET FRIENDLY PRICE</p>
</div>
